<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">DatingApp</a>

    <ul class="navbar-nav me-auto mb-2 mb-md-0">
      <ng-container *ngIf="accountservice.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link " routerLink="/member" routerLinkActive="active">Match </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/messages" routerLinkActive="active">Message</a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a class="nav-link " routerLink="/error" routerLinkActive="active">Error</a>
      </li>

    </ul>
    <div class="dropdown" *ngIf="(accountservice.currentUser$ | async) as user" dropdown>
      <img src="{{user.photoUrl ||'./assets/user.png'}}" alt=" user Photo">
      <a class="dropdown-toggle text-light text-decoration-none ms-2"  dropdownToggle>Welcome {{user.username | titlecase}}</a>
      <div *dropdownMenu class="dropdown-menu mt-3">
        <a class="dropdown-item" routerLink="/members/edit">Edit Profile</a>
        <a class="dropdown-item" (click)="LogOut()">LogOut</a>
      </div>
    </div>
    <form *ngIf="!(accountservice.currentUser$ | async)" #LoginForm="ngForm" (ngSubmit)="login()" autocomplete="off"
      class="d-flex">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="User Name">
      <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
        placeholder="Password">
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>

</nav>